APP_NAME="Dental Clinic Backend"
DATABASE_URL="postgresql://postgres:password@127.0.0.1:5432/dental_clinic?schema=public"
PORT=3000
NODE_ENV=development
JWT_SECRET=some-super-long-secret-key-at-least-32-chars
JWT_ACCESS_SECRET=some-super-long-access-secret-key-at-least-32-chars
JWT_REFRESH_SECRET=some-super-long-refresh-secret-key-at-least-32-chars
